
@{
    ViewBag.Title = "viewOperationResult";
}

<br />
<div style="text-align:center;">

    <p>
        @ViewBag.message
    </p>
    @Html.ActionLink("Back", "profile", null, new { @class = "btn btn-default" })
</div>



