@using NewsWebSite.Models

<div id="divModal">

</div>

@{ 
    var newsList = (List<News>)ViewBag.CategoryNews;
}

<div class="container">

    <div class="row" >
       @if (newsList.Count==0)
       {
           <br />
        <p style="text-align:center;">
            No News has been added yet.
        </p>
        }

        @foreach (var item in newsList)
        {
            Html.RenderPartial("NewsInfo", item);

        }
    </div>
</div>


@section scripts{
    <script>

        function show() {
            $('#newsModal').modal('show')
        }
    </script>


}

